/* 
    Document   : style.css
*/

.root {
    
}

.page {
    -fx-background-color: #fff8ee;
}

.menu-item {
    -fx-font-size: 20pt;
    -fx-font-family: Arial;
    -fx-text-fill: #000000;
}

.game-tile-black {
    -fx-background-color: #10131b;
}

.game-tile-white {
    -fx-background-color: transparent;
}

.exit-button {
    -fx-background-color: #10131b;
}