/* 
    Document   : style.css
*/

.page {
    -fx-background-color: #ffffff;
}

.text {
    -fx-font-size: 20pt;
    -fx-font-family: Arial;
    -fx-text-fill: #000000;
}
.menu-item {
    -fx-padding: 10;
}
.menu-item:hover {
    -fx-background-color: #f0f0f0;
}

.game-tile-black {
    -fx-background-color: #10131b;
}

.game-tile-white {
    -fx-background-color: transparent;
}

.exit-button {
    /*-fx-background-color: #10131b;*/
}

.arrow {
    -fx-background-color: #10131b;
}

/*
TEST STYLES

.TEST-bottom-bar {
    -fx-background-color: #356bff;
}
.TEST-top-bar {
    -fx-background-color: #ff35da;
}
.TEST-game-grid {
    -fx-background-color: #35ff35;
}
*/